<div id="background">
    <header class="cf">
        <div class="wrapper-wide">
            <%= link_to 'Noise.FM', root_path, id: 'logo' %>
            <nav>
                <ul>
                    <li><a href="podcasts.html">Explore</a></li>
                    <li><a href="sign_in.html">Sign In</a></li>
                    <li><a href="sign_up.html">Create a Noise</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="wrapper-skinny">
        <h1>Discover your new favorite<br /><span id="noise-color">noise</span>, or create your own.</h1>
        <a href="#" class="btn btn-highlight">Create a Noise</a>
        <a href="#" class="btn btn-white">Explore</a>
    </div>
</div>
